<h1>Blogs一覧</h1>

<%= link_to "New Blog", new_blog_path%>

<% @blogs.each do |blog| %>
  <p>Title: <%= blog.title%></p>
  <p>Content: <%= blog.content%></p>
  <%= link_to "Show", blog_path(blog)%>
  <%= link_to 'Delete', blog_path(blog), method: :delete, data: {confirm: "削除しますか？"}%>
<%end%>



